.header__lang-link_ru {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 18px;
  text-decoration: none;
  color: white;
}

.header__lang-link_ru:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media screen and (max-width: 330px) {
  .header__lang-link_ru {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin-right: 17px;
  }
}