.photo-grid {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 1184px;
  width: 100%;
  min-height: 56.67%;
  margin: 0 auto 0;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(213px, 1fr);
  gap: 16px 16px;
}

@media screen and (max-width: 1124px) {
  .photo-grid {
    max-width: 928px;
    min-height: 1.015%;
    gap: 14px 14px;
  }
} 

@media screen and (max-width: 984px) {
  .photo-grid {
    max-width: 720px;
    min-height: 100%;
    gap: 16px 16px;
  }
} 

@media screen and (max-width: 568px) {
  .photo-grid {
    max-width: 288px;
    min-height: 100%;
    gap: 12px;
  }
} 