.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  width: calc(100% - 460px - 40px);
  flex-wrap: wrap;
  text-decoration: none;
  text-underline-offset: 3px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .place__website {
    max-width: 720px;
    object-fit: contain;
   /* gap: 16px; */
  }
} 

@media screen and(max-width: 568px) {
  .place__website {
    display: block;
    width: 288px;
    justify-content: center;
    order: 2;
  }
}