.places {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: grid;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  box-sizing: content-box;
  gap: 80px;
}

@media screen and (max-width: 1124px) {
  .places {
    max-width: 928px;
  }
}
@media screen and (max-width: 984px) {
  .places {
    max-width: 720px;
    gap: 73px;
  }
}
@media screen and (max-width: 568px) {
  .places {
    min-width: 320px;
    gap: 50px;
  }
}

