.header__links {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  gap: 18px;
  padding-top: 1.52%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
}

@media screen and (max-width: 568px) {
  .header__links {
    padding-top: 5%;
    gap: 17px;
    font-size: 18px;
    line-height: 1.11;
  }
}