.header__lang-link_en {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link_en:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
