.intro__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  white-space: pre-line; 
}

@media screen and (max-width: 568px) {
  .intro__list {
   padding-left: 15px;
  }
} 