.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(/images/header-logo.svg);
  min-width: 176px;
  min-height: 52px;
  background-repeat: no-repeat;
}


@media screen and (max-width: 568) {
  .header__logo {
   max-width: 140px;
   max-height: 100;
   object-fit: contain;
   background-size: contain;
   box-sizing: border-box;
  }
}