.page__content {
  margin-top: 53px;
  margin-bottom: 92px;
  box-sizing: border-box;
}


@media screen and (max-width: 1124px) {
  .page__content {
    margin-top: 45px;

  }
}

@media screen and (max-width: 984px) {
  .page__content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 568px) {
  .page__content {
    margin-top: 48px;
    margin-bottom: 64px;
    /*added when looking 4 header doesnt adjust*/
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}