.content {
  display: grid;
  row-gap: 92px;
  justify-self: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  align-self: center;
  border: 1px magenta dashed;
}

@media screen and (max-width: 984px) {
  .content {
    row-gap: 88px;
    align-self: center;
  }
}

@media screen and (max-width: 568px) {
  .content {
    max-width: 320px;
    row-gap: 64px;
    margin: 0;
    padding: 0;
    align-self: center;
  }
}
