.content {
  display: grid;
  row-gap: 92px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 984px) {
  .content {
    row-gap: 88px
  }
}

@media screen and (max-width: 568px) {
  .content {
    max-width: 320px;
    row-gap: 64px;
    column-gap: 0;
    /* looking for the reason header doesnt adjust \!/ */
    margin: 0;
    padding: 0;
  }
}
  