.footer__link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 1s, visibility 1s, transform 1s ease-in-out;
}

.footer__link:hover {
  opacity: .3;
  visibility: .3;
  transition: opacity 1s, visibility 1s, transform 1s ease-in-out;
}