.lead__title {
  display: flex;
  font-size: 96px;
  line-height: 1.042;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 675px) {
  .lead__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 569px) {
  .lead__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 495px) {
  .lead__title {
    font-size: 60px;

  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}