.footer__copyright {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    padding-top: 48px;
  }
} 