.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: right;
}

@media screen and (max-width: 568px) {
.footer__copyright {
  font-size: 14px;
  line-height: 14px;
  
}
}
  
