.place__website__url-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 100%;
  text-decoration: none;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

@media screen and (max-width: 568px) {
  .place__website__url-heading {
    display: block;
    order: 2;
    width: 288px;
    height: 100%;
    margin-left: 16px;
  }
}
