.lead__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 984px;
  aspect-ratio: 328 / 205;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    max-width: 925px;
    width: 100%;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    max-width: 984px;
    width: 100%;
    aspect-ratio: 16/10;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    max-width: 100%;
  }
}