.cover {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-width: 1184px;
}

@media screen and (max-width: 1124px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .cover {
    max-width: 720px;
  }
} 

@media screen and (max-width: 568px) {
  .cover {
    max-width: 320px;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
} 



/*
@media screen and (max-width: 1190px) {
  .cover {
    width: 1024px;
    min-height: 100%;
    background-repeat: no-repeat;
    margin: 0 auto 0;
  }
} */