.footer {
  width: calc(100% - 48px*2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  /*justify-items: center;*/
  flex-wrap: wrap;
  margin: 0 auto 0;
  text-decoration: none;
  list-style: none;
  /*padding-bottom: 24px;*/
}

@media screen and (max-width: 984px) {
  .footer {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 568px) {
  .footer {
    display: flex;
    max-width: 186px;
    max-height: 310px;
    margin: 0 auto 24px 16px;
  }
} 