.grid-container {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  /*min-height: 100%; */
  margin: 0 auto 0;
  box-sizing: content-box;
}

@media screen and (max-width: 568px) {
  .grid-container {
    max-width: 100vw;
    /*min-height: 100%;*/
    margin: 0;
    padding: 0;
  }
} 