.intro__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin-bottom: 40px;
}

@media screen and (max-width: 730px) {
  .intro__title {
    max-width: 100vw;
  }
} 

@media screen and (max-width: 568px) {
  .intro__title {
      box-sizing: border-box;
      padding-left: 15px;
      max-width: 100%;
      font-size: 32px;
      line-height: 35px;
  }
} 